In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

C:\Users\khare\AppData\Local\Temp\ipykernel_30800\564669769.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

In [3]:
income_df.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2022,US,United States,NaN,BRFSS,Health Outcomes,Diagnosed diabetes among adults,%,Crude prevalence,12.0,...,11.8,12.2,333287557,260836730,59,HLTHOUT,DIABETES,CrdPrv,Diabetes,NaN
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)

In [4]:
income_df.shape

(240886, 22)

In [5]:
income_df['LocationName'].count()

240806

In [6]:
income_df['Year'].value_counts()

Year
2022    216262
2021     24624
Name: count, dtype: int64

In [7]:
income_df['LocationName'].nunique()

1838

In [8]:
income_df['LocationName'].isna().value_counts()

LocationName
False    240806
True         80
Name: count, dtype: int64

In [9]:
income_df['Geolocation'].isna().value_counts()

Geolocation
False    240806
True         80
Name: count, dtype: int64

In [10]:
#dropping NAN values and removing rows that contain NAN values
income_cleane = income_df.dropna(subset=['LocationName'])

In [11]:
income_cleane.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)
5,2022,FL,Florida,Glades,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,33.1,...,32.2,34.0,12454,10791,12043,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-81.1891415991292 26.9564177202841)

In [12]:
#split table year 2021 and 2022
income_2021 = income_cleane[income_cleane['Year'].isin([2021])]
income_2022 = income_cleane[income_cleane['Year'].isin([2022])]

In [13]:
#income_2022

In [14]:
#create dataset group by state, county and measures
income_2021=income_2021.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])

In [15]:
income_2021 = income_2021[['Year','StateAbbr', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [16]:
income_2021.head()

,Year,StateAbbr,LocationName,Measure,Data_Value,Geolocation
11415,2021,AK,Aleutians East,Cholesterol screening among adults,72.6,POINT (-161.964571410747 55.359979555826)
17820,2021,AK,Aleutians East,Cholesterol screening among adults,73.3,POINT (-161.964571410747 55.359979555826)
8461,2021,AK,Aleutians East,High blood pressure among adults,31.3,POINT (-161.964571410747 55.359979555826)
12647,2021,AK,Aleutians East,High blood pressure among adults,30.5,POINT (-161.964571410747 55.359979555826)
2076,2021,AK,Aleutians East,High cholesterol among adults who have ever be...,31.3,POINT (-161.964571410747 55.359979555826)

In [17]:
pivoted_2021 = income_2021.pivot_table(
    index=('Year', 'StateAbbr', 'LocationName', 'Geolocation'), 
    columns='Measure', 
    values=['Data_Value']  
    
)

In [18]:
pivoted_2021.head()

                                                                                                 Data_Value  \
Measure                                                                  Cholesterol screening among adults
Year StateAbbr LocationName   Geolocation
2021 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                               72.95
               Aleutians West POINT (-110.244912258458 52.7943036111183)                              73.65
               Anchorage      POINT (-149.112545841578 61.150482370682)                               78.30
               Bethel         POINT (-159.82324096097 60.9128860869079)                               66.00
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                              77.75

                                                                                                           \
Measure                                                                  High blood pressure among adults
Year StateAbbr LocationName   Geolocation
2021 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                             30.90
               Aleutians West POINT (-110.244912258458 52.7943036111183)                            28.55
               Anchorage      POINT (-149.112545841578 61.150482370682)                             26.85
               Bethel         POINT (-159.82324096097 60.9128860869079)                             35.35
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                            30.80

                                                                                                                                    \
Measure                                                                  High cholesterol among adults who have ever been screened
Year StateAbbr LocationName   Geolocation
2021 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               30.05
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              30.60
               Anchorage      POINT (-149.112545841578 61.150482370682)                                               28.05
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               28.65
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              29.95


Measure                                                                  Taking medicine to control high blood pressure among adults with high blood pressure
Year StateAbbr LocationName   Geolocation
2021 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               62.25
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              59.25
               Anchorage      POINT (-149.112545841578 61.150482370682)                                               60.35
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               58.70
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              60.80

In [19]:
#Remove the level 0 index and reset the row index
pivoted_2021 = pivoted_2021.droplevel(0,axis=1) 
pivoted_2021 = pivoted_2021.reset_index(level='Year')
pivoted_2021 = pivoted_2021.reset_index(level='LocationName')
pivoted_2021 = pivoted_2021.reset_index(level='Geolocation')
pivoted_2021 = pivoted_2021.reset_index(level='StateAbbr')

In [20]:
pivoted_2021.head()

Measure,StateAbbr,Geolocation,LocationName,Year,Cholesterol screening among adults,High blood pressure among adults,High cholesterol among adults who have ever been screened,Taking medicine to control high blood pressure among adults with high blood pressure
0,AK,POINT (-161.964571410747 55.359979555826),Aleutians East,2021,72.95,30.90,30.05,62.25
1,AK,POINT (-110.244912258458 52.7943036111183),Aleutians West,2021,73.65,28.55,30.60,59.25
2,AK,POINT (-149.112545841578 61.150482370682),Anchorage,2021,78.30,26.85,28.05,60.35
3,AK,POINT (-159.82324096097 60.9128860869079),Bethel,2021,66.00,35.35,28.65,58.70
4,AK,POINT (-156.700132487576 58.7440261738219),Bristol Bay,2021,77.75,30.80,29.95,60.80

In [107]:
#export to csv file
pivoted_2021.to_csv('health_2021.csv', index=False)

In [21]:
income_2022=income_2022.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])
income_2022 = income_2022[['Year','StateAbbr', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [22]:
income_2022.head()

,Year,StateAbbr,LocationName,Measure,Data_Value,Geolocation
11724,2022,AK,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
15811,2022,AK,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
6942,2022,AK,Aleutians East,Any disability among adults,30.9,POINT (-161.964571410747 55.359979555826)
9338,2022,AK,Aleutians East,Any disability among adults,29.5,POINT (-161.964571410747 55.359979555826)
4986,2022,AK,Aleutians East,Arthritis among adults,19.8,POINT (-161.964571410747 55.359979555826)

In [23]:
pivoted_2022 = income_2022.pivot_table(
    index=('Year', 'StateAbbr', 'LocationName', 'Geolocation'), 
    columns='Measure', 
    values=['Data_Value']  
    
)

In [24]:
pivoted_2022.head()

                                                                                                          Data_Value  \
Measure                                                                  All teeth lost among adults aged >=65 years
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                        16.90
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                       14.85
               Anchorage      POINT (-149.112545841578 61.150482370682)                                        12.95
               Bethel         POINT (-159.82324096097 60.9128860869079)                                        31.00
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                       12.30

                                                                                                      \
Measure                                                                  Any disability among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                        30.20
               Aleutians West POINT (-110.244912258458 52.7943036111183)                       27.45
               Anchorage      POINT (-149.112545841578 61.150482370682)                        25.90
               Bethel         POINT (-159.82324096097 60.9128860869079)                        44.20
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                       30.55

                                                                                                 \
Measure                                                                  Arthritis among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                   18.70
               Aleutians West POINT (-110.244912258458 52.7943036111183)                  17.40
               Anchorage      POINT (-149.112545841578 61.150482370682)                   21.80
               Bethel         POINT (-159.82324096097 60.9128860869079)                   27.25
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                  24.30

                                                                                                      \
Measure                                                                  Binge drinking among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                        16.45
               Aleutians West POINT (-110.244912258458 52.7943036111183)                       19.95
               Anchorage      POINT (-149.112545841578 61.150482370682)                        19.30
               Bethel         POINT (-159.82324096097 60.9128860869079)                        18.55
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                       21.30

                                                                                                                     \
Measure                                                                  Cancer (non-skin) or melanoma among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                        4.50
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                       4.50
               Anchorage      POINT (-149.112545841578 61.150482370682)                                        6.55
               Bethel         POINT (-159.82324096097 60.9128860869079)                                        5.65
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                       7.40

                                                                                                                             \
Measure                                                                  Chronic obstructive pulmonary disease among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                                5.25
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                               4.75
               Anchorage      POINT (-149.112545841578 61.150482370682)                                                4.65
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               10.65
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                               6.75

                                                                                                            \
Measure                                                                  Cognitive disability among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                              13.10
               Aleutians West POINT (-110.244912258458 52.7943036111183)                             12.60
               Anchorage      POINT (-149.112545841578 61.150482370682)                              11.95
               Bethel         POINT (-159.82324096097 60.9128860869079)                              22.80
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                             14.25

                                                                                                                                    \
Measure                                                                  Colorectal cancer screening among adults aged 45â€“75 years
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               41.60
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              48.90
               Anchorage      POINT (-149.112545841578 61.150482370682)                                               58.15
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               45.40
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              56.65

                                                                                                              \
Measure                                                                  Coronary heart disease among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                 6.45
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                5.65
               Anchorage      POINT (-149.112545841578 61.150482370682)                                 5.10
               Bethel         POINT (-159.82324096097 60.9128860869079)                                 9.00
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                7.30

                                                                                                      \
Measure                                                                  Current asthma among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                         8.00
               Aleutians West POINT (-110.244912258458 52.7943036111183)                        8.15
               Anchorage      POINT (-149.112545841578 61.150482370682)                        10.20
               Bethel         POINT (-159.82324096097 60.9128860869079)                        14.20
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                       11.40

                                                                          ...  \
Measure                                                                   ...
Year StateAbbr LocationName   Geolocation                                 ...
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)   ...
               Aleutians West POINT (-110.244912258458 52.7943036111183)  ...
               Anchorage      POINT (-149.112545841578 61.150482370682)   ...
               Bethel         POINT (-159.82324096097 60.9128860869079)   ...
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)  ...

                                                                                                                         \
Measure                                                                  No leisure-time physical activity among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                            30.1
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                           26.9
               Anchorage      POINT (-149.112545841578 61.150482370682)                                            19.8
               Bethel         POINT (-159.82324096097 60.9128860869079)                                            34.7
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                           21.3

                                                                                               \
Measure                                                                  Obesity among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                 31.30
               Aleutians West POINT (-110.244912258458 52.7943036111183)                29.50
               Anchorage      POINT (-149.112545841578 61.150482370682)                 29.60
               Bethel         POINT (-159.82324096097 60.9128860869079)                 41.30
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                32.05

                                                                                                                                  \
Measure                                                                  Received food stamps in the past 12 months among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               14.90
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              12.00
               Anchorage      POINT (-149.112545841578 61.150482370682)                                                9.45
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               36.40
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              10.50

                                                                                                            \
Measure                                                                  Self-care disability among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                               3.75
               Aleutians West POINT (-110.244912258458 52.7943036111183)                              3.15
               Anchorage      POINT (-149.112545841578 61.150482370682)                               2.70
               Bethel         POINT (-159.82324096097 60.9128860869079)                               6.85
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                              3.50

                                                                                                            \
Measure                                                                  Short sleep duration among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                              42.30
               Aleutians West POINT (-110.244912258458 52.7943036111183)                             39.55
               Anchorage      POINT (-149.112545841578 61.150482370682)                              34.65
               Bethel         POINT (-159.82324096097 60.9128860869079)                              41.85
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                             37.50

                                                                                              \
Measure                                                                  Stroke among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                 3.65
               Aleutians West POINT (-110.244912258458 52.7943036111183)                3.05
               Anchorage      POINT (-149.112545841578 61.150482370682)                 2.65
               Bethel         POINT (-159.82324096097 60.9128860869079)                 5.95
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                3.80

                                                                                                                                              \
Measure                                                                  Utility services shut-off threat in the past 12 months among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                                8.45
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                               7.95
               Anchorage      POINT (-149.112545841578 61.150482370682)                                                7.20
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               18.55
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                               8.05

                                                                                                         \
Measure                                                                  Vision disability among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                            6.40
               Aleutians West POINT (-110.244912258458 52.7943036111183)                           5.40
               Anchorage      POINT (-149.112545841578 61.150482370682)                            4.15
               Bethel         POINT (-159.82324096097 60.9128860869079)                           10.35
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                           5.15

                                                                                                                                         \
Measure                                                                  Visited dentist or dental clinic in the past year among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               47.85
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              51.40
               Anchorage      POINT (-149.112545841578 61.150482370682)                                               64.20
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               37.00
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              58.55


Measure                                                                  Visits to doctor for routine checkup within the past year among adults
Year StateAbbr LocationName   Geolocation
2022 AK        Aleutians East POINT (-161.964571410747 55.359979555826)                                               64.15
               Aleutians West POINT (-110.244912258458 52.7943036111183)                                              62.20
               Anchorage      POINT (-149.112545841578 61.150482370682)                                               67.75
               Bethel         POINT (-159.82324096097 60.9128860869079)                                               63.85
               Bristol Bay    POINT (-156.700132487576 58.7440261738219)                                              65.10

[5 rows x 36 columns]

In [25]:
#Remove the level 0 index and reset the row index
pivoted_2022 = pivoted_2022.droplevel(0,axis=1) 
pivoted_2022 = pivoted_2022.reset_index(level='Year')
pivoted_2022 = pivoted_2022.reset_index(level='LocationName')
pivoted_2022 = pivoted_2022.reset_index(level='Geolocation')
pivoted_2022 = pivoted_2022.reset_index(level='StateAbbr')

In [26]:
pivoted_2022.head()

Measure,StateAbbr,Geolocation,LocationName,Year,All teeth lost among adults aged >=65 years,Any disability among adults,Arthritis among adults,Binge drinking among adults,Cancer (non-skin) or melanoma among adults,Chronic obstructive pulmonary disease among adults,...,No leisure-time physical activity among adults,Obesity among adults,Received food stamps in the past 12 months among adults,Self-care disability among adults,Short sleep duration among adults,Stroke among adults,Utility services shut-off threat in the past 12 months among adults,Vision disability among adults,Visited dentist or dental clinic in the past year among adults,Visits to doctor for routine checkup within the past year among adults
0,AK,POINT (-161.964571410747 55.359979555826),Aleutians East,2022,16.90,30.20,18.70,16.45,4.50,5.25,...,30.1,31.30,14.90,3.75,42.30,3.65,8.45,6.40,47.85,64.15
1,AK,POINT (-110.244912258458 52.7943036111183),Aleutians West,2022,14.85,27.45,17.40,19.95,4.50,4.75,...,26.9,29.50,12.00,3.15,39.55,3.05,7.95,5.40,51.40,62.20
2,AK,POINT (-149.112545841578 61.150482370682),Anchorage,2022,12.95,25.90,21.80,19.30,6.55,4.65,...,19.8,29.60,9.45,2.70,34.65,2.65,7.20,4.15,64.20,67.75
3,AK,POINT (-159.82324096097 60.9128860869079),Bethel,2022,31.00,44.20,27.25,18.55,5.65,10.65,...,34.7,41.30,36.40,6.85,41.85,5.95,18.55,10.35,37.00,63.85
4,AK,POINT (-156.700132487576 58.7440261738219),Bristol Bay,2022,12.30,30.55,24.30,21.30,7.40,6.75,...,21.3,32.05,10.50,3.50,37.50,3.80,8.05,5.15,58.55,65.10

In [27]:
pivoted_2022.columns

Index(['StateAbbr', 'Geolocation', 'LocationName', 'Year',
       'All teeth lost among adults aged >=65 years',
       'Any disability among adults', 'Arthritis among adults',
       'Binge drinking among adults',
       'Cancer (non-skin) or melanoma among adults',
       'Chronic obstructive pulmonary disease among adults',
       'Cognitive disability among adults',
       'Colorectal cancer screening among adults aged 45â€“75 years',
       'Coronary heart disease among adults', 'Current asthma among adults',
       'Current cigarette smoking among adults',
       'Current lack of health insurance among adults aged 18-64 years',
       'Depression among adults', 'Diagnosed diabetes among adults',
       'Fair or poor self-rated health status among adults',
       'Feeling socially isolated among adults',
       'Food insecurity in the past 12 months among adults',
       'Frequent mental distress among adults',
       'Frequent physical distress among adults',
       'Hearing disability among adults',
       'Housing insecurity in the past 12 months among adults',
       'Independent living disability among adults',
       'Lack of reliable transportation in the past 12 months among adults',
       'Lack of social and emotional support among adults',
       'Mammography use among women aged 50-74 years',
       'Mobility disability among adults',
       'No leisure-time physical activity among adults',
       'Obesity among adults',
       'Received food stamps in the past 12 months among adults',
       'Self-care disability among adults',
       'Short sleep duration among adults', 'Stroke among adults',
       'Utility services shut-off threat in the past 12 months among adults',
       'Vision disability among adults',
       'Visited dentist or dental clinic in the past year among adults',
       'Visits to doctor for routine checkup within the past year among adults'],
      dtype='object', name='Measure')

In [105]:
#export to csv file
pivoted_2022.to_csv('health_2022.csv', index=False)

In [28]:
#Read unimployment data
unemployment_df= pd.read_csv('../Data/Unemployment.csv')

In [29]:
unemployment_df.head()

   FIPS_Code State      Area_Name                  Attribute        Value
0          0    US  United States  Civilian_labor_force_2000  142601576.0
1          0    US  United States              Employed_2000  136904853.0
2          0    US  United States            Unemployed_2000    5696723.0
3          0    US  United States     Unemployment_rate_2000          4.0
4          0    US  United States  Civilian_labor_force_2001  143786537.0

In [30]:
pivoted_un = unemployment_df.pivot_table(
    index=('State', 'Area_Name'), 
    columns='Attribute', 
    values=['Value']  
    
)

In [31]:
pivoted_un.head()

                                                             Value  \
Attribute                                Civilian_labor_force_2000
State Area_Name
AK    Alaska                                              319777.0
      Aleutians East Borough, AK                             942.0
      Aleutians West Census Area, AK                        2738.0
      Anchorage Borough/municipality, AK                  140750.0
      Bethel Census Area, AK                                6406.0

                                                                    \
Attribute                                Civilian_labor_force_2001
State Area_Name
AK    Alaska                                              321652.0
      Aleutians East Borough, AK                            1011.0
      Aleutians West Census Area, AK                        2639.0
      Anchorage Borough/municipality, AK                  142100.0
      Bethel Census Area, AK                                6319.0

                                                                    \
Attribute                                Civilian_labor_force_2002
State Area_Name
AK    Alaska                                              327054.0
      Aleutians East Borough, AK                             970.0
      Aleutians West Census Area, AK                        2739.0
      Anchorage Borough/municipality, AK                  144205.0
      Bethel Census Area, AK                                6844.0

                                                                    \
Attribute                                Civilian_labor_force_2003
State Area_Name
AK    Alaska                                              332494.0
      Aleutians East Borough, AK                            1012.0
      Aleutians West Census Area, AK                        2940.0
      Anchorage Borough/municipality, AK                  145843.0
      Bethel Census Area, AK                                7072.0

                                                                    \
Attribute                                Civilian_labor_force_2004
State Area_Name
AK    Alaska                                              337469.0
      Aleutians East Borough, AK                            1115.0
      Aleutians West Census Area, AK                        3077.0
      Anchorage Borough/municipality, AK                  146603.0
      Bethel Census Area, AK                                7018.0

                                                                    \
Attribute                                Civilian_labor_force_2005
State Area_Name
AK    Alaska                                              344157.0
      Aleutians East Borough, AK                            1075.0
      Aleutians West Census Area, AK                        3139.0
      Anchorage Borough/municipality, AK                  148840.0
      Bethel Census Area, AK                                7084.0

                                                                    \
Attribute                                Civilian_labor_force_2006
State Area_Name
AK    Alaska                                              348756.0
      Aleutians East Borough, AK                            1136.0
      Aleutians West Census Area, AK                        3205.0
      Anchorage Borough/municipality, AK                  151131.0
      Bethel Census Area, AK                                6961.0

                                                                    \
Attribute                                Civilian_labor_force_2007
State Area_Name
AK    Alaska                                              350233.0
      Aleutians East Borough, AK                            1091.0
      Aleutians West Census Area, AK                        3081.0
      Anchorage Borough/municipality, AK                  150839.0
      Bethel Census Area, AK                                6935.0

                                                                    \
Attribute                                Civilian_labor_force_2008
State Area_Name
AK    Alaska                                              355298.0
      Aleutians East Borough, AK                            1141.0
      Aleutians West Census Area, AK                        3055.0
      Anchorage Borough/municipality, AK                  151840.0
      Bethel Census Area, AK                                6900.0

                                                                    ...  \
Attribute                                Civilian_labor_force_2009  ...
State Area_Name                                                     ...
AK    Alaska                                              359379.0  ...
      Aleutians East Borough, AK                            1133.0  ...
      Aleutians West Census Area, AK                        3002.0  ...
      Anchorage Borough/municipality, AK                  153655.0  ...
      Bethel Census Area, AK                                7039.0  ...

                                                                 \
Attribute                                Unemployment_rate_2014
State Area_Name
AK    Alaska                                                6.7
      Aleutians East Borough, AK                            4.4
      Aleutians West Census Area, AK                        4.7
      Anchorage Borough/municipality, AK                    5.1
      Bethel Census Area, AK                               15.8

                                                                 \
Attribute                                Unemployment_rate_2015
State Area_Name
AK    Alaska                                                6.3
      Aleutians East Borough, AK                            3.1
      Aleutians West Census Area, AK                        3.7
      Anchorage Borough/municipality, AK                    4.9
      Bethel Census Area, AK                               13.9

                                                                 \
Attribute                                Unemployment_rate_2016
State Area_Name
AK    Alaska                                                6.6
      Aleutians East Borough, AK                            2.5
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    5.3
      Bethel Census Area, AK                               13.7

                                                                 \
Attribute                                Unemployment_rate_2017
State Area_Name
AK    Alaska                                                6.5
      Aleutians East Borough, AK                            2.3
      Aleutians West Census Area, AK                        3.4
      Anchorage Borough/municipality, AK                    5.4
      Bethel Census Area, AK                               12.7

                                                                 \
Attribute                                Unemployment_rate_2018
State Area_Name
AK    Alaska                                                6.0
      Aleutians East Borough, AK                            2.8
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    5.0
      Bethel Census Area, AK                               11.9

                                                                 \
Attribute                                Unemployment_rate_2019
State Area_Name
AK    Alaska                                                5.6
      Aleutians East Borough, AK                            2.4
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    4.6
      Bethel Census Area, AK                               11.9

                                                                 \
Attribute                                Unemployment_rate_2020
State Area_Name
AK    Alaska                                                8.3
      Aleutians East Borough, AK                            4.1
      Aleutians West Census Area, AK                        4.7
      Anchorage Borough/municipality, AK                    7.9
      Bethel Census Area, AK                               12.3

                                                                 \
Attribute                                Unemployment_rate_2021
State Area_Name
AK    Alaska                                                6.4
      Aleutians East Borough, AK                            2.5
      Aleutians West Census Area, AK                        3.8
      Anchorage Borough/municipality, AK                    5.9
      Bethel Census Area, AK                               13.1

                                                                 \
Attribute                                Unemployment_rate_2022
State Area_Name
AK    Alaska                                                4.0
      Aleutians East Borough, AK                            2.0
      Aleutians West Census Area, AK                        3.1
      Anchorage Borough/municipality, AK                    3.3
      Bethel Census Area, AK                                8.8


Attribute                                Urban_Influence_Code_2013
State Area_Name
AK    Alaska                                                   NaN
      Aleutians East Borough, AK                              12.0
      Aleutians West Census Area, AK                          11.0
      Anchorage Borough/municipality, AK                       2.0
      Bethel Census Area, AK                                  11.0

[5 rows x 97 columns]

In [32]:
#pivoted_un.columns

In [33]:
#Remove the level 0 index and reset the row index
pivoted_un = pivoted_un.droplevel(0,axis=1) 
pivoted_un = pivoted_un.reset_index(level='State')
pivoted_un = pivoted_un.reset_index(level='Area_Name')

In [34]:
pivoted_un.head()

Attribute,Area_Name,State,Civilian_labor_force_2000,Civilian_labor_force_2001,Civilian_labor_force_2002,Civilian_labor_force_2003,Civilian_labor_force_2004,Civilian_labor_force_2005,Civilian_labor_force_2006,Civilian_labor_force_2007,...,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018,Unemployment_rate_2019,Unemployment_rate_2020,Unemployment_rate_2021,Unemployment_rate_2022,Urban_Influence_Code_2013
0,Alaska,AK,319777.0,321652.0,327054.0,332494.0,337469.0,344157.0,348756.0,350233.0,...,6.7,6.3,6.6,6.5,6.0,5.6,8.3,6.4,4.0,NaN
1,"Aleutians East Borough, AK",AK,942.0,1011.0,970.0,1012.0,1115.0,1075.0,1136.0,1091.0,...,4.4,3.1,2.5,2.3,2.8,2.4,4.1,2.5,2.0,12.0
2,"Aleutians West Census Area, AK",AK,2738.0,2639.0,2739.0,2940.0,3077.0,3139.0,3205.0,3081.0,...,4.7,3.7,3.2,3.4,3.2,3.2,4.7,3.8,3.1,11.0
3,"Anchorage Borough/municipality, AK",AK,140750.0,142100.0,144205.0,145843.0,146603.0,148840.0,151131.0,150839.0,...,5.1,4.9,5.3,5.4,5.0,4.6,7.9,5.9,3.3,2.0
4,"Bethel Census Area, AK",AK,6406.0,6319.0,6844.0,7072.0,7018.0,7084.0,6961.0,6935.0,...,15.8,13.9,13.7,12.7,11.9,11.9,12.3,13.1,8.8,11.0

In [35]:
Un_Final=pivoted_un[['State', 'Area_Name', 'Unemployment_rate_2021', 'Unemployment_rate_2022', 'Med_HH_Income_Percent_of_State_Total_2021', 'Median_Household_Income_2021']]

In [36]:
Un_Final.head()

Attribute,State,Area_Name,Unemployment_rate_2021,Unemployment_rate_2022,Med_HH_Income_Percent_of_State_Total_2021,Median_Household_Income_2021
0,AK,Alaska,6.4,4.0,100.0,78437.0
1,AK,"Aleutians East Borough, AK",2.5,2.0,91.1,71492.0
2,AK,"Aleutians West Census Area, AK",3.8,3.1,109.7,86050.0
3,AK,"Anchorage Borough/municipality, AK",5.9,3.3,109.8,86152.0
4,AK,"Bethel Census Area, AK",13.1,8.8,69.9,54849.0

In [37]:
Un_Final['Area_Name'] = Un_Final['Area_Name'].str.split(',').str[0]
Un_Final['Area_Name'] = Un_Final['Area_Name'].str.replace(' County', '', regex=False)

C:\Users\khare\AppData\Local\Temp\ipykernel_30800\2231326507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Un_Final['Area_Name'] = Un_Final['Area_Name'].str.split(',').str[0]
C:\Users\khare\AppData\Local\Temp\ipykernel_30800\2231326507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Un_Final['Area_Name'] = Un_Final['Area_Name'].str.replace(' County', '', regex=False)

In [38]:
Un_Final.head()

Attribute,State,Area_Name,Unemployment_rate_2021,Unemployment_rate_2022,Med_HH_Income_Percent_of_State_Total_2021,Median_Household_Income_2021
0,AK,Alaska,6.4,4.0,100.0,78437.0
1,AK,Aleutians East Borough,2.5,2.0,91.1,71492.0
2,AK,Aleutians West Census Area,3.8,3.1,109.7,86050.0
3,AK,Anchorage Borough/municipality,5.9,3.3,109.8,86152.0
4,AK,Bethel Census Area,13.1,8.8,69.9,54849.0

In [39]:
Un_Final.to_csv('un_final.csv', index=False)

In [113]:
#calculate least and high unemployment county in 2021 and 2022
county_min=pivoted_un.loc[pivoted_un['Unemployment_rate_2021'].idxmin()]
county_mxn=pivoted_un.loc[pivoted_un['Unemployment_rate_2021'].idxmax()]

In [115]:
county_min

Attribute
Area_Name                    King County, TX
State                                     TX
Civilian_labor_force_2000              212.0
Civilian_labor_force_2001              239.0
Civilian_labor_force_2002              247.0
                                  ...
Unemployment_rate_2019                   2.1
Unemployment_rate_2020                   1.7
Unemployment_rate_2021                   0.9
Unemployment_rate_2022                   0.9
Urban_Influence_Code_2013               12.0
Name: 2782, Length: 99, dtype: object

In [117]:
county_mxn

Attribute
Area_Name                    Kusilvak Census Area, AK
State                                              AK
Civilian_labor_force_2000                      2237.0
Civilian_labor_force_2001                      2342.0
Civilian_labor_force_2002                      2486.0
                                       ...
Unemployment_rate_2019                           18.2
Unemployment_rate_2020                           20.8
Unemployment_rate_2021                           19.5
Unemployment_rate_2022                           12.9
Urban_Influence_Code_2013                        12.0
Name: 17, Length: 99, dtype: object