In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

C:\Users\khare\AppData\Local\Temp\ipykernel_15404\564669769.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

In [3]:
income_df.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2022,US,United States,NaN,BRFSS,Health Outcomes,Diagnosed diabetes among adults,%,Crude prevalence,12.0,...,11.8,12.2,333287557,260836730,59,HLTHOUT,DIABETES,CrdPrv,Diabetes,NaN
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)

In [4]:
income_df.shape

(240886, 22)

In [5]:
income_df['LocationName'].count()

240806

In [6]:
income_df['Year'].value_counts()

Year
2022    216262
2021     24624
Name: count, dtype: int64

In [7]:
income_df['LocationName'].nunique()

1838

In [8]:
income_df['LocationName'].isna().value_counts()

LocationName
False    240806
True         80
Name: count, dtype: int64

In [9]:
income_df['Geolocation'].isna().value_counts()

Geolocation
False    240806
True         80
Name: count, dtype: int64

In [10]:
#dropping NAN values and removing rows that contain NAN values
income_cleane = income_df.dropna(subset=['LocationName'])

In [11]:
income_cleane.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)
5,2022,FL,Florida,Glades,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,33.1,...,32.2,34.0,12454,10791,12043,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-81.1891415991292 26.9564177202841)

In [12]:
#split table year 2021 and 2022
income_2021 = income_cleane[income_cleane['Year'].isin([2021])]
income_2022 = income_cleane[income_cleane['Year'].isin([2022])]

In [13]:
#income_2022

In [14]:
#create dataset group by state, county and measures
income_2021=income_2021.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])

In [15]:
income_2021 = income_2021[['Year', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [16]:
income_2021

,Year,LocationName,Measure,Data_Value,Geolocation
11415,2021,Aleutians East,Cholesterol screening among adults,72.6,POINT (-161.964571410747 55.359979555826)
17820,2021,Aleutians East,Cholesterol screening among adults,73.3,POINT (-161.964571410747 55.359979555826)
8461,2021,Aleutians East,High blood pressure among adults,31.3,POINT (-161.964571410747 55.359979555826)
12647,2021,Aleutians East,High blood pressure among adults,30.5,POINT (-161.964571410747 55.359979555826)
2076,2021,Aleutians East,High cholesterol among adults who have ever be...,31.3,POINT (-161.964571410747 55.359979555826)
...,...,...,...,...,...
236485,2021,Weston,High blood pressure among adults,27.9,POINT (-104.567739997323 43.8402189504887)
234364,2021,Weston,High cholesterol among adults who have ever be...,26.8,POINT (-104.567739997323 43.8402189504887)
236125,2021,Weston,High cholesterol among adults who have ever be...,34.0,POINT (-104.567739997323 43.8402189504887)
238947,2021,Weston,Taking medicine to control high blood pressure...,78.8,POINT (-104.567739997323 43.8402189504887)
240435,2021,Weston,Taking medicine to control high blood pressure...,55.5,POINT (-104.567739997323 43.8402189504887)

In [17]:
income_2022=income_2022.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])
income_2022 = income_2022[['Year', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [18]:
income_2022

,Year,LocationName,Measure,Data_Value,Geolocation
11724,2022,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
15811,2022,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
6942,2022,Aleutians East,Any disability among adults,30.9,POINT (-161.964571410747 55.359979555826)
9338,2022,Aleutians East,Any disability among adults,29.5,POINT (-161.964571410747 55.359979555826)
4986,2022,Aleutians East,Arthritis among adults,19.8,POINT (-161.964571410747 55.359979555826)
...,...,...,...,...,...
236053,2022,Weston,Vision disability among adults,5.3,POINT (-104.567739997323 43.8402189504887)
237135,2022,Weston,Visited dentist or dental clinic in the past y...,58.1,POINT (-104.567739997323 43.8402189504887)
238430,2022,Weston,Visited dentist or dental clinic in the past y...,60.2,POINT (-104.567739997323 43.8402189504887)
237767,2022,Weston,Visits to doctor for routine checkup within th...,65.8,POINT (-104.567739997323 43.8402189504887)
239577,2022,Weston,Visits to doctor for routine checkup within th...,70.4,POINT (-104.567739997323 43.8402189504887)

In [32]:
#Read unimployment data
unemployment_df= pd.read_csv('../Data/Unemployment.csv')

In [34]:
unemployment_df

,FIPS_Code,State,Area_Name,Attribute,Value
0,0,US,United States,Civilian_labor_force_2000,142601576.0
1,0,US,United States,Employed_2000,136904853.0
2,0,US,United States,Unemployed_2000,5696723.0
3,0,US,United States,Unemployment_rate_2000,4.0
4,0,US,United States,Civilian_labor_force_2001,143786537.0
...,...,...,...,...,...
316628,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2021,11.7
316629,72153,PR,"Yauco Municipio, PR",Civilian_labor_force_2022,10353.0
316630,72153,PR,"Yauco Municipio, PR",Employed_2022,9282.0
316631,72153,PR,"Yauco Municipio, PR",Unemployed_2022,1071.0
316632,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2022,10.3

In [36]:
unemployment_df=unemployment_df['State'].str.split().str[0]

In [38]:
unemployment_df

0         US
1         US
2         US
3         US
4         US
          ..
316628    PR
316629    PR
316630    PR
316631    PR
316632    PR
Name: State, Length: 316633, dtype: object

In [28]:
unemployment_df.rename(columns='State')

TypeError: Series.rename() got an unexpected keyword argument 'columns'

In [23]:
unemployment_df['State'].value_counts()

KeyError: 'State'