In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

C:\Users\khare\AppData\Local\Temp\ipykernel_83768\564669769.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

In [7]:
income_df.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2022,US,United States,NaN,BRFSS,Health Outcomes,Diagnosed diabetes among adults,%,Crude prevalence,12.0,...,11.8,12.2,333287557,260836730,59,HLTHOUT,DIABETES,CrdPrv,Diabetes,NaN
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)

In [71]:
income_df.shape

(240886, 22)

In [73]:
income_df['LocationName'].count()

240806

In [75]:
income_df['Year'].value_counts()

Year
2022    216262
2021     24624
Name: count, dtype: int64

In [77]:
income_df['LocationName'].nunique()

1838

In [79]:
income_df['LocationName'].isna().value_counts()

LocationName
False    240806
True         80
Name: count, dtype: int64

In [81]:
income_df['Geolocation'].isna().value_counts()

Geolocation
False    240806
True         80
Name: count, dtype: int64

In [125]:
#dropping NAN values and removing rows that contain NAN values
income_cleane = income_df.dropna(subset=['LocationName'])

In [130]:
income_cleane.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)
5,2022,FL,Florida,Glades,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,33.1,...,32.2,34.0,12454,10791,12043,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-81.1891415991292 26.9564177202841)

In [143]:
#split table year 2021 and 2022
income_2021 = income_cleane[income_cleane['Year'].isin([2021])]
income_2022 = income_cleane[income_cleane['Year'].isin([2022])]

In [147]:
#income_2022

In [161]:
#create dataset group by state, county and measures
income_2021=income_2021.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])

In [165]:
income_2021 = income_2021[['Year', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [167]:
income_2021

,Year,LocationName,Measure,Data_Value,Geolocation
11415,2021,Aleutians East,Cholesterol screening among adults,72.6,POINT (-161.964571410747 55.359979555826)
17820,2021,Aleutians East,Cholesterol screening among adults,73.3,POINT (-161.964571410747 55.359979555826)
8461,2021,Aleutians East,High blood pressure among adults,31.3,POINT (-161.964571410747 55.359979555826)
12647,2021,Aleutians East,High blood pressure among adults,30.5,POINT (-161.964571410747 55.359979555826)
2076,2021,Aleutians East,High cholesterol among adults who have ever be...,31.3,POINT (-161.964571410747 55.359979555826)
...,...,...,...,...,...
236485,2021,Weston,High blood pressure among adults,27.9,POINT (-104.567739997323 43.8402189504887)
234364,2021,Weston,High cholesterol among adults who have ever be...,26.8,POINT (-104.567739997323 43.8402189504887)
236125,2021,Weston,High cholesterol among adults who have ever be...,34.0,POINT (-104.567739997323 43.8402189504887)
238947,2021,Weston,Taking medicine to control high blood pressure...,78.8,POINT (-104.567739997323 43.8402189504887)
240435,2021,Weston,Taking medicine to control high blood pressure...,55.5,POINT (-104.567739997323 43.8402189504887)