In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

C:\Users\khare\AppData\Local\Temp\ipykernel_25008\564669769.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  income_df= pd.read_csv('../Data/PLACES__Local_Data_for_Better_Health__County_Data_2024_release.csv')

In [3]:
income_df.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2022,US,United States,NaN,BRFSS,Health Outcomes,Diagnosed diabetes among adults,%,Crude prevalence,12.0,...,11.8,12.2,333287557,260836730,59,HLTHOUT,DIABETES,CrdPrv,Diabetes,NaN
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)

In [4]:
income_df.shape

(240886, 22)

In [5]:
income_df['LocationName'].count()

240806

In [6]:
income_df['Year'].value_counts()

Year
2022    216262
2021     24624
Name: count, dtype: int64

In [7]:
income_df['LocationName'].nunique()

1838

In [8]:
income_df['LocationName'].isna().value_counts()

LocationName
False    240806
True         80
Name: count, dtype: int64

In [9]:
income_df['Geolocation'].isna().value_counts()

Geolocation
False    240806
True         80
Name: count, dtype: int64

In [10]:
#dropping NAN values and removing rows that contain NAN values
income_cleane = income_df.dropna(subset=['LocationName'])

In [11]:
income_cleane.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
1,2022,CO,Colorado,Lake,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,2.4,...,2.2,2.6,7327,5862,8065,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-106.344971513974 39.2024367117474)
2,2022,CO,Colorado,Mesa,BRFSS,Disability,Hearing disability among adults,%,Crude prevalence,7.1,...,6.3,8.0,158636,126505,8077,DISABLT,HEARING,CrdPrv,Hearing Disability,POINT (-108.466537411781 39.0183551841305)
3,2022,CT,Connecticut,Capitol,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,26.2,...,24.4,28.4,981447,783914,9110,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-72.5720699045246 41.8184543884154)
4,2022,FL,Florida,Alachua,BRFSS,Health Outcomes,Arthritis among adults,%,Age-adjusted prevalence,24.4,...,21.7,27.2,284030,234132,12001,HLTHOUT,ARTHRITIS,AgeAdjPrv,Arthritis,POINT (-82.3582005204153 29.6751856950068)
5,2022,FL,Florida,Glades,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,33.1,...,32.2,34.0,12454,10791,12043,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-81.1891415991292 26.9564177202841)

In [12]:
#split table year 2021 and 2022
income_2021 = income_cleane[income_cleane['Year'].isin([2021])]
income_2022 = income_cleane[income_cleane['Year'].isin([2022])]

In [13]:
#income_2022

In [14]:
#create dataset group by state, county and measures
income_2021=income_2021.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])

In [15]:
income_2021 = income_2021[['Year', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [16]:
income_2021

,Year,LocationName,Measure,Data_Value,Geolocation
11415,2021,Aleutians East,Cholesterol screening among adults,72.6,POINT (-161.964571410747 55.359979555826)
17820,2021,Aleutians East,Cholesterol screening among adults,73.3,POINT (-161.964571410747 55.359979555826)
8461,2021,Aleutians East,High blood pressure among adults,31.3,POINT (-161.964571410747 55.359979555826)
12647,2021,Aleutians East,High blood pressure among adults,30.5,POINT (-161.964571410747 55.359979555826)
2076,2021,Aleutians East,High cholesterol among adults who have ever be...,31.3,POINT (-161.964571410747 55.359979555826)
...,...,...,...,...,...
236485,2021,Weston,High blood pressure among adults,27.9,POINT (-104.567739997323 43.8402189504887)
234364,2021,Weston,High cholesterol among adults who have ever be...,26.8,POINT (-104.567739997323 43.8402189504887)
236125,2021,Weston,High cholesterol among adults who have ever be...,34.0,POINT (-104.567739997323 43.8402189504887)
238947,2021,Weston,Taking medicine to control high blood pressure...,78.8,POINT (-104.567739997323 43.8402189504887)
240435,2021,Weston,Taking medicine to control high blood pressure...,55.5,POINT (-104.567739997323 43.8402189504887)

In [17]:
income_2022=income_2022.sort_values(by= ['StateAbbr', 'LocationName', 'Measure'])
income_2022 = income_2022[['Year', 'LocationName', 'Measure', 'Data_Value', 'Geolocation']]

In [18]:
income_2022

,Year,LocationName,Measure,Data_Value,Geolocation
11724,2022,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
15811,2022,Aleutians East,All teeth lost among adults aged >=65 years,16.9,POINT (-161.964571410747 55.359979555826)
6942,2022,Aleutians East,Any disability among adults,30.9,POINT (-161.964571410747 55.359979555826)
9338,2022,Aleutians East,Any disability among adults,29.5,POINT (-161.964571410747 55.359979555826)
4986,2022,Aleutians East,Arthritis among adults,19.8,POINT (-161.964571410747 55.359979555826)
...,...,...,...,...,...
236053,2022,Weston,Vision disability among adults,5.3,POINT (-104.567739997323 43.8402189504887)
237135,2022,Weston,Visited dentist or dental clinic in the past y...,58.1,POINT (-104.567739997323 43.8402189504887)
238430,2022,Weston,Visited dentist or dental clinic in the past y...,60.2,POINT (-104.567739997323 43.8402189504887)
237767,2022,Weston,Visits to doctor for routine checkup within th...,65.8,POINT (-104.567739997323 43.8402189504887)
239577,2022,Weston,Visits to doctor for routine checkup within th...,70.4,POINT (-104.567739997323 43.8402189504887)

In [66]:
#Read unimployment data
unemployment_df= pd.read_csv('../Data/Unemployment.csv')

In [68]:
unemployment_df

,FIPS_Code,State,Area_Name,Attribute,Value
0,0,US,United States,Civilian_labor_force_2000,142601576.0
1,0,US,United States,Employed_2000,136904853.0
2,0,US,United States,Unemployed_2000,5696723.0
3,0,US,United States,Unemployment_rate_2000,4.0
4,0,US,United States,Civilian_labor_force_2001,143786537.0
...,...,...,...,...,...
316628,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2021,11.7
316629,72153,PR,"Yauco Municipio, PR",Civilian_labor_force_2022,10353.0
316630,72153,PR,"Yauco Municipio, PR",Employed_2022,9282.0
316631,72153,PR,"Yauco Municipio, PR",Unemployed_2022,1071.0
316632,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2022,10.3

In [152]:
pivoted_un = unemployment_df.pivot_table(
    index=('State', 'Area_Name'), 
    columns='Attribute', 
    values=['Value']  
    
)

In [154]:
pivoted_un

                                                             Value  \
Attribute                                Civilian_labor_force_2000
State Area_Name
AK    Alaska                                              319777.0
      Aleutians East Borough, AK                             942.0
      Aleutians West Census Area, AK                        2738.0
      Anchorage Borough/municipality, AK                  140750.0
      Bethel Census Area, AK                                6406.0
...                                                            ...
WY    Teton County, WY                                     14126.0
      Uinta County, WY                                     10414.0
      Washakie County, WY                                   4287.0
      Weston County, WY                                     3284.0
      Wyoming                                             265701.0

                                                                    \
Attribute                                Civilian_labor_force_2001
State Area_Name
AK    Alaska                                              321652.0
      Aleutians East Borough, AK                            1011.0
      Aleutians West Census Area, AK                        2639.0
      Anchorage Borough/municipality, AK                  142100.0
      Bethel Census Area, AK                                6319.0
...                                                            ...
WY    Teton County, WY                                     14184.0
      Uinta County, WY                                     10739.0
      Washakie County, WY                                   4206.0
      Weston County, WY                                     3301.0
      Wyoming                                             268393.0

                                                                    \
Attribute                                Civilian_labor_force_2002
State Area_Name
AK    Alaska                                              327054.0
      Aleutians East Borough, AK                             970.0
      Aleutians West Census Area, AK                        2739.0
      Anchorage Borough/municipality, AK                  144205.0
      Bethel Census Area, AK                                6844.0
...                                                            ...
WY    Teton County, WY                                     13786.0
      Uinta County, WY                                     11082.0
      Washakie County, WY                                   4156.0
      Weston County, WY                                     3310.0
      Wyoming                                             269405.0

                                                                    \
Attribute                                Civilian_labor_force_2003
State Area_Name
AK    Alaska                                              332494.0
      Aleutians East Borough, AK                            1012.0
      Aleutians West Census Area, AK                        2940.0
      Anchorage Borough/municipality, AK                  145843.0
      Bethel Census Area, AK                                7072.0
...                                                            ...
WY    Teton County, WY                                     13664.0
      Uinta County, WY                                     10944.0
      Washakie County, WY                                   4220.0
      Weston County, WY                                     3177.0
      Wyoming                                             272804.0

                                                                    \
Attribute                                Civilian_labor_force_2004
State Area_Name
AK    Alaska                                              337469.0
      Aleutians East Borough, AK                            1115.0
      Aleutians West Census Area, AK                        3077.0
      Anchorage Borough/municipality, AK                  146603.0
      Bethel Census Area, AK                                7018.0
...                                                            ...
WY    Teton County, WY                                     13709.0
      Uinta County, WY                                     10639.0
      Washakie County, WY                                   4220.0
      Weston County, WY                                     3137.0
      Wyoming                                             274736.0

                                                                    \
Attribute                                Civilian_labor_force_2005
State Area_Name
AK    Alaska                                              344157.0
      Aleutians East Borough, AK                            1075.0
      Aleutians West Census Area, AK                        3139.0
      Anchorage Borough/municipality, AK                  148840.0
      Bethel Census Area, AK                                7084.0
...                                                            ...
WY    Teton County, WY                                     13885.0
      Uinta County, WY                                     10746.0
      Washakie County, WY                                   4299.0
      Weston County, WY                                     3194.0
      Wyoming                                             279083.0

                                                                    \
Attribute                                Civilian_labor_force_2006
State Area_Name
AK    Alaska                                              348756.0
      Aleutians East Borough, AK                            1136.0
      Aleutians West Census Area, AK                        3205.0
      Anchorage Borough/municipality, AK                  151131.0
      Bethel Census Area, AK                                6961.0
...                                                            ...
WY    Teton County, WY                                     14113.0
      Uinta County, WY                                     11092.0
      Washakie County, WY                                   4208.0
      Weston County, WY                                     3092.0
      Wyoming                                             284826.0

                                                                    \
Attribute                                Civilian_labor_force_2007
State Area_Name
AK    Alaska                                              350233.0
      Aleutians East Borough, AK                            1091.0
      Aleutians West Census Area, AK                        3081.0
      Anchorage Borough/municipality, AK                  150839.0
      Bethel Census Area, AK                                6935.0
...                                                            ...
WY    Teton County, WY                                     14589.0
      Uinta County, WY                                     11277.0
      Washakie County, WY                                   4253.0
      Weston County, WY                                     3204.0
      Wyoming                                             290748.0

                                                                    \
Attribute                                Civilian_labor_force_2008
State Area_Name
AK    Alaska                                              355298.0
      Aleutians East Borough, AK                            1141.0
      Aleutians West Census Area, AK                        3055.0
      Anchorage Borough/municipality, AK                  151840.0
      Bethel Census Area, AK                                6900.0
...                                                            ...
WY    Teton County, WY                                     14623.0
      Uinta County, WY                                     11645.0
      Washakie County, WY                                   4338.0
      Weston County, WY                                     3262.0
      Wyoming                                             296620.0

                                                                    ...  \
Attribute                                Civilian_labor_force_2009  ...
State Area_Name                                                     ...
AK    Alaska                                              359379.0  ...
      Aleutians East Borough, AK                            1133.0  ...
      Aleutians West Census Area, AK                        3002.0  ...
      Anchorage Borough/municipality, AK                  153655.0  ...
      Bethel Census Area, AK                                7039.0  ...
...                                                            ...  ...
WY    Teton County, WY                                     13874.0  ...
      Uinta County, WY                                     11561.0  ...
      Washakie County, WY                                   4400.0  ...
      Weston County, WY                                     3311.0  ...
      Wyoming                                             299893.0  ...

                                                                 \
Attribute                                Unemployment_rate_2014
State Area_Name
AK    Alaska                                                6.7
      Aleutians East Borough, AK                            4.4
      Aleutians West Census Area, AK                        4.7
      Anchorage Borough/municipality, AK                    5.1
      Bethel Census Area, AK                               15.8
...                                                         ...
WY    Teton County, WY                                      4.9
      Uinta County, WY                                      5.0
      Washakie County, WY                                   4.5
      Weston County, WY                                     3.5
      Wyoming                                               4.3

                                                                 \
Attribute                                Unemployment_rate_2015
State Area_Name
AK    Alaska                                                6.3
      Aleutians East Borough, AK                            3.1
      Aleutians West Census Area, AK                        3.7
      Anchorage Borough/municipality, AK                    4.9
      Bethel Census Area, AK                               13.9
...                                                         ...
WY    Teton County, WY                                      3.8
      Uinta County, WY                                      4.9
      Washakie County, WY                                   4.1
      Weston County, WY                                     3.4
      Wyoming                                               4.2

                                                                 \
Attribute                                Unemployment_rate_2016
State Area_Name
AK    Alaska                                                6.6
      Aleutians East Borough, AK                            2.5
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    5.3
      Bethel Census Area, AK                               13.7
...                                                         ...
WY    Teton County, WY                                      3.5
      Uinta County, WY                                      5.8
      Washakie County, WY                                   4.8
      Weston County, WY                                     5.0
      Wyoming                                               5.4

                                                                 \
Attribute                                Unemployment_rate_2017
State Area_Name
AK    Alaska                                                6.5
      Aleutians East Borough, AK                            2.3
      Aleutians West Census Area, AK                        3.4
      Anchorage Borough/municipality, AK                    5.4
      Bethel Census Area, AK                               12.7
...                                                         ...
WY    Teton County, WY                                      2.9
      Uinta County, WY                                      4.7
      Washakie County, WY                                   4.1
      Weston County, WY                                     4.1
      Wyoming                                               4.3

                                                                 \
Attribute                                Unemployment_rate_2018
State Area_Name
AK    Alaska                                                6.0
      Aleutians East Borough, AK                            2.8
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    5.0
      Bethel Census Area, AK                               11.9
...                                                         ...
WY    Teton County, WY                                      3.0
      Uinta County, WY                                      4.4
      Washakie County, WY                                   4.2
      Weston County, WY                                     3.5
      Wyoming                                               4.1

                                                                 \
Attribute                                Unemployment_rate_2019
State Area_Name
AK    Alaska                                                5.6
      Aleutians East Borough, AK                            2.4
      Aleutians West Census Area, AK                        3.2
      Anchorage Borough/municipality, AK                    4.6
      Bethel Census Area, AK                               11.9
...                                                         ...
WY    Teton County, WY                                      2.8
      Uinta County, WY                                      4.0
      Washakie County, WY                                   4.1
      Weston County, WY                                     3.0
      Wyoming                                               3.7

                                                                 \
Attribute                                Unemployment_rate_2020
State Area_Name
AK    Alaska                                                8.3
      Aleutians East Borough, AK                            4.1
      Aleutians West Census Area, AK                        4.7
      Anchorage Borough/municipality, AK                    7.9
      Bethel Census Area, AK                               12.3
...                                                         ...
WY    Teton County, WY                                      6.0
      Uinta County, WY                                      6.4
      Washakie County, WY                                   5.3
      Weston County, WY                                     3.9
      Wyoming                                               5.9

                                                                 \
Attribute                                Unemployment_rate_2021
State Area_Name
AK    Alaska                                                6.4
      Aleutians East Borough, AK                            2.5
      Aleutians West Census Area, AK                        3.8
      Anchorage Borough/municipality, AK                    5.9
      Bethel Census Area, AK                               13.1
...                                                         ...
WY    Teton County, WY                                      3.3
      Uinta County, WY                                      5.2
      Washakie County, WY                                   4.1
      Weston County, WY                                     3.3
      Wyoming                                               4.6

                                                                 \
Attribute                                Unemployment_rate_2022
State Area_Name
AK    Alaska                                                4.0
      Aleutians East Borough, AK                            2.0
      Aleutians West Census Area, AK                        3.1
      Anchorage Borough/municipality, AK                    3.3
      Bethel Census Area, AK                                8.8
...                                                         ...
WY    Teton County, WY                                      2.7
      Uinta County, WY                                      3.8
      Washakie County, WY                                   4.0
      Weston County, WY                                     2.7
      Wyoming                                               3.6


Attribute                                Urban_Influence_Code_2013
State Area_Name
AK    Alaska                                                   NaN
      Aleutians East Borough, AK                              12.0
      Aleutians West Census Area, AK                          11.0
      Anchorage Borough/municipality, AK                       2.0
      Bethel Census Area, AK                                  11.0
...                                                            ...
WY    Teton County, WY                                         8.0
      Uinta County, WY                                         8.0
      Washakie County, WY                                     11.0
      Weston County, WY                                        9.0
      Wyoming                                                  NaN

[3276 rows x 97 columns]

In [246]:
#pivoted_un.columns

In [250]:
#Remove the level 0 index and reset the row index
#pivoted_un = pivoted_un.droplevel(0,axis=1) 
pivoted_un = pivoted_un.reset_index(level='State')

In [212]:
pivoted_un

Attribute,State,Civilian_labor_force_2000,Civilian_labor_force_2001,Civilian_labor_force_2002,Civilian_labor_force_2003,Civilian_labor_force_2004,Civilian_labor_force_2005,Civilian_labor_force_2006,Civilian_labor_force_2007,Civilian_labor_force_2008,...,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018,Unemployment_rate_2019,Unemployment_rate_2020,Unemployment_rate_2021,Unemployment_rate_2022,Urban_Influence_Code_2013
Area_Name,,,,,,,,,,,,,,,,,,,,,
Alaska,AK,319777.0,321652.0,327054.0,332494.0,337469.0,344157.0,348756.0,350233.0,355298.0,...,6.7,6.3,6.6,6.5,6.0,5.6,8.3,6.4,4.0,NaN
"Aleutians East Borough, AK",AK,942.0,1011.0,970.0,1012.0,1115.0,1075.0,1136.0,1091.0,1141.0,...,4.4,3.1,2.5,2.3,2.8,2.4,4.1,2.5,2.0,12.0
"Aleutians West Census Area, AK",AK,2738.0,2639.0,2739.0,2940.0,3077.0,3139.0,3205.0,3081.0,3055.0,...,4.7,3.7,3.2,3.4,3.2,3.2,4.7,3.8,3.1,11.0
"Anchorage Borough/municipality, AK",AK,140750.0,142100.0,144205.0,145843.0,146603.0,148840.0,151131.0,150839.0,151840.0,...,5.1,4.9,5.3,5.4,5.0,4.6,7.9,5.9,3.3,2.0
"Bethel Census Area, AK",AK,6406.0,6319.0,6844.0,7072.0,7018.0,7084.0,6961.0,6935.0,6900.0,...,15.8,13.9,13.7,12.7,11.9,11.9,12.3,13.1,8.8,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Teton County, WY",WY,14126.0,14184.0,13786.0,13664.0,13709.0,13885.0,14113.0,14589.0,14623.0,...,4.9,3.8,3.5,2.9,3.0,2.8,6.0,3.3,2.7,8.0
"Uinta County, WY",WY,10414.0,10739.0,11082.0,10944.0,10639.0,10746.0,11092.0,11277.0,11645.0,...,5.0,4.9,5.8,4.7,4.4,4.0,6.4,5.2,3.8,8.0
"Washakie County, WY",WY,4287.0,4206.0,4156.0,4220.0,4220.0,4299.0,4208.0,4253.0,4338.0,...,4.5,4.1,4.8,4.1,4.2,4.1,5.3,4.1,4.0,11.0
"Weston County, WY",WY,3284.0,3301.0,3310.0,3177.0,3137.0,3194.0,3092.0,3204.0,3262.0,...,3.5,3.4,5.0,4.1,3.5,3.0,3.9,3.3,2.7,9.0
Wyoming,WY,265701.0,268393.0,269405.0,272804.0,274736.0,279083.0,284826.0,290748.0,296620.0,...,4.3,4.2,5.4,4.3,4.1,3.7,5.9,4.6,3.6,NaN

In [214]:
Un_Final=pivoted_un[['State', 'Unemployment_rate_2021', 'Unemployment_rate_2022', 'Med_HH_Income_Percent_of_State_Total_2021', 'Median_Household_Income_2021']]

In [216]:
Un_Final

Attribute,State,Unemployment_rate_2021,Unemployment_rate_2022,Med_HH_Income_Percent_of_State_Total_2021,Median_Household_Income_2021
Area_Name,,,,,
Alaska,AK,6.4,4.0,100.0,78437.0
"Aleutians East Borough, AK",AK,2.5,2.0,91.1,71492.0
"Aleutians West Census Area, AK",AK,3.8,3.1,109.7,86050.0
"Anchorage Borough/municipality, AK",AK,5.9,3.3,109.8,86152.0
"Bethel Census Area, AK",AK,13.1,8.8,69.9,54849.0
...,...,...,...,...,...
"Teton County, WY",WY,3.3,2.7,154.4,102709.0
"Uinta County, WY",WY,5.2,3.8,105.5,70162.0
"Washakie County, WY",WY,4.1,4.0,93.5,62176.0
"Weston County, WY",WY,3.3,2.7,94.0,62509.0
Wyoming,WY,4.6,3.6,100.0,66508.0